.wait {
    text-align: center;
    margin: 20px auto;
}

.wait img {
    width:150px;
    height: 150px
}

.home form {
    width: 70%;
    padding: 10px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home form input {
    padding:10px;
    margin:0;
    border: none;
    outline:none;
    border-bottom: 1px solid rgb(0, 255, 0);
}

.home form button {
    outline-color: rgb(0, 255, 0);
    background: rgb(0, 255, 0);
    border: 1px solid rgb(0, 255, 0);
    color :rgb(27, 27, 27);
    font-weight: bold;
    padding: 10px;
    width:50px;
    border-radius: 0;
    margin: 0 0 0 -2px;
}

.home form button:disabled {
    cursor: not-allowed;
    background: rgba(128, 128, 128, 0.685);
    color: rgb(27, 27, 27)
}


.results {
    margin: 30px 0 !important
}

.results .item {
    padding:0;
    margin: 20px auto;
}

.results .video a{
    border-radius: 5px;
    display: block;
    text-decoration: none;
    padding: 0 20px;

}

.results .video a {
    position: relative;
    text-align: center;
}

.results .video a video {
    display: block;
    background: rgb(27, 27, 27);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    border-radius: 0;
    width:100%;
    height: 100px;
    z-index: 1;
}

.results .video a span {
    display: block;
    position: absolute;
    top:0;left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    z-index: 2;
    color: rgb(0, 255, 0);
    font-size: 40px;
}